Q1. What will the following code display?

numbers = [1, 2, 3, 4, 5]
print(numbers[1:-5])

Can you debug and fix the output?  The code should return the entire list

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers[0:6])

[1, 2, 3, 4, 5]

Q2. Design a program that asks the user to enter a store’s sales for each day of the week. The amounts should be stored in a list. Use a loop to calculate the total sales for the week and display the result.

In [ ]:
#empty list ready to be loaded
sales = []

#for loop to load empty sales list
for i in range(1,8):
  print('Day', i)
  dsale = float(input('Enter the daily sales amount: '))
  sales.append(dsale)

#add up sales values
print(sum(sales))

Day 1
Enter the daily sales amount: 2
Day 2
Enter the daily sales amount: 4
Day 3
Enter the daily sales amount: 6
Day 4
Enter the daily sales amount: 8
Day 5
Enter the daily sales amount: 10
Day 6
Enter the daily sales amount: 12
Day 7
Enter the daily sales amount: 14
56.0

Q3. Create a list with at least 5 places you’d like to travel to.   Make sure the list isn’t in alphabetical order

1.   Print your list in its original order.
2.   Use the sort() function to arrange your list in order and reprint your list.
3.   Use the sort(reverse=True) and reprint your list.

In [ ]:
#print list in its original order
countries = ['Greece','Egypt','Jordaan','Turkey','Iraq']
print(countries)

#use sort() function to arrange list in order
countries.sort()
print(countries)

#use sort(reverse=True)
countries.sort(reverse=True)
print(countries)

['Greece', 'Egypt', 'Jordaan', 'Turkey', 'Iraq']
['Egypt', 'Greece', 'Iraq', 'Jordaan', 'Turkey']
['Turkey', 'Jordaan', 'Iraq', 'Greece', 'Egypt']

Q4. Write a program that creates a dictionary containing course numbers and the room numbers of the rooms where the courses meet. The program should also create a dictionary containing course numbers and the names of the instructors that teach each course. After that, the program should let the user enter a course number, then it should display the course’s room number, instructor, and meeting time.

In [ ]:
courses = {'601':['Room 201', 'Gaines', '12:00pm'],
           '602':['Room 209', 'Sanchez', '10:00am'],
           '603':['Room 207', 'Pastor', '4:00pm'],
           '604':['Room 215', 'Jones', '8:00am'],
           '605':['Room 221', 'Evans', '1:00pm']
           }

#ask user for course number input
course = int(input('Enter the course number: '))

#if invalid course number entered, error displays
if course in range(601,605):
  print('Course #', course, 'is taught by', courses[str(course)][1], '.  It meets in', courses[str(course)][0], 'at', courses[str(course)][2], '.')
else:
  print('\nInvalid Course Number.')

Enter the course number: 603
Course # 603 is taught by Pastor .  It meets in Room 207 at 4:00pm .

Q5. Write a program that keeps names and email addresses in a dictionary as key-value pairs. The program should then demonstrate the four options:


*   look up a person’s email address,
*   add a new name and email address,
*   change an existing email address, and
*   delete an existing name and email address.

In [ ]:
emails = {'John':'John@fmail.com',
          'Jane':'Jane@fmail.com',
          'June':'June@fmail.com',
          'Joan':'Joan@fmail.com',
          'Jenn':'Jenn@fmail.com'
          }

#look up a person's email address
print(emails['John'])
print(emails['Jenn'])

#add a new name and email address
emails['Jill'] = 'Jill@fmail.com'
print(emails)

#change an existing email address
emails['June'] = 'monthsix@calendar.com'
print(emails)

#delete an existing name and email address
del(emails['Joan'])
print(emails)

John@fmail.com
Jenn@fmail.com
{'John': 'John@fmail.com', 'Jane': 'Jane@fmail.com', 'June': 'June@fmail.com', 'Joan': 'Joan@fmail.com', 'Jenn': 'Jenn@fmail.com', 'Jill': 'Jill@fmail.com'}
{'John': 'John@fmail.com', 'Jane': 'Jane@fmail.com', 'June': 'monthsix@calendar.com', 'Joan': 'Joan@fmail.com', 'Jenn': 'Jenn@fmail.com', 'Jill': 'Jill@fmail.com'}
{'John': 'John@fmail.com', 'Jane': 'Jane@fmail.com', 'June': 'monthsix@calendar.com', 'Jenn': 'Jenn@fmail.com', 'Jill': 'Jill@fmail.com'}